/* font  */
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Style+Script&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.inner {
  max-width: 1200px;
  margin: 100px auto;
}

header .inner,
#visual .inner {
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #333;
} 

li {
  list-style: none;
}


/* header -------------------- */
header {
  background: rgb(255, 255, 255);
  position: relative;
  height: 80px;
  z-index: 100;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;
  height: inherit;
}

header .lnb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 3;
  position: relative;
  z-index: 100;
}

.lnb > ul {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.lnb > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  height: 80px;
}

.lnb > ul > li .ko {
  font-size: 16px;
}

.lnb > ul > li .en{
  display: none;
  font-size: 16px;
}

.lnb > ul > li:hover .ko {
  display: none;
}

.lnb > ul > li:hover .en {
  display: block;
}

.lnb > ul > li:after {
  content: '';
  width: 0;
  height: 1px; 
  background: rgb(31, 31, 31);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 10px;
  transition: .5s;
}

.lnb > ul > li:hover:after {
  width: 90%;
}

.lnb > ul > li:hover .submenu {
  visibility: visible;
  width: 1200px;
  position: absolute;
  left: 0;
}

.lnb > ul > li .submenu{
  visibility: hidden;
  position: absolute; 
  display: flex;
  top: 100%;
  left: 0;
}

.lnb > ul > li .submenu li{
  background: green;
  margin: 10px 10px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: all ease-out;
}

.lnb > ul > li:nth-child(2) .submenu {
  left: -100%;
}

.lnb > ul > li:nth-child(3) .submenu {
  left: -100%;
}

.lnb > ul > li:nth-child(4) .submenu {
  left: -200%;
}

.lnb > ul > li:nth-child(5) .submenu {
  left: -400%;
}

/* 목걸이 */
.lnb > ul > li:nth-child(1) .submenu li:first-child{
  background: url('../img/j1.png')no-repeat;
  background-position: center;
}

.lnb > ul > li:nth-child(1) .submenu li:nth-child(2){
  background: url('../img/j2.png')no-repeat;
  background-position: center;
}

/* 반지 */
.lnb > ul > li:nth-child(2) .submenu li:first-child{
  background: url('../img/ring1.png')no-repeat;
  background-position: center;
}

.lnb > ul > li:nth-child(2) .submenu li:nth-child(2){
  background: url('../img/ring2.png')no-repeat;
  background-position: center;
}

.lnb > ul > li:nth-child(2) .submenu li:nth-child(3){
  background: url('../img/ring3.png')no-repeat;
  background-position: center;
}

/* 팔찌 */
.lnb > ul > li:nth-child(3) .submenu li:first-child{
  background: url('../img/bra1.png')no-repeat;
  background-position: center;
}

.lnb > ul > li:nth-child(3) .submenu li:nth-child(2){
  background: url('../img/bra2.png')no-repeat;
  background-position: center;
}

/* 귀걸이 */
.lnb > ul > li:nth-child(4) .submenu li:first-child{
  background: url('../img/earring1.png')no-repeat;
  background-position: center;
}

.lnb > ul > li:nth-child(4) .submenu li:nth-child(2){
  background: url('../img/earring2.png')no-repeat;
  background-position: center;
}

/* 헤어핀 */
.lnb > ul > li:nth-child(5) .submenu li:first-child{
  background: url('../img/hair1.png')no-repeat;
  background-position: center;
}

.lnb > ul > li:nth-child(5) .submenu li:nth-child(2){
  background: url('../img/hair2.png')no-repeat;
  background-position: center;
}

.lnb > ul > li:nth-child(5) .submenu li:nth-child(3){
  background: url('../img/hair3.png')no-repeat;
  background-position: center;
}

.lnb > ul > li .submenu li a {
  color: #fff;
  display: block;
  height: 30px;
  width: 100%;
  background: gray;
  line-height: 30px;
}

.lnb > ul > li:hover > .color_bg {
  opacity: 1;
}

header .color_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  display: block;
  background: rgba(214, 214, 214, 0.829);
  z-index: -1;
  opacity: 0;  
  transition: all .3s;
}

.lnb:hover + .color_bg {
  opacity: 1; 
  height: 300px; 
}

header .customer {
  display: flex;
  flex: 1;
  height: inherit;
  justify-content: flex-end;
  align-items: center;
}

header .customer a:last-child{
  margin-left: 40px;
}



/* visual -------------------- */
#visual {
  position: relative;
}

#visual .img {
  background: url('../img/visual.png') no-repeat center 60%;
  height: 400px;
}

#visual .description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
}

#visual .description h3 {
  font-size: 34px;
  font-family: 'Style Script', cursive;
}

#visual .description span {
  margin-bottom: 30px;
  display: block;
}

#visual .description p {
  font-size: 14px;
}


/* best_item -------------------- */
.items {
  display: flex;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.items li {
  max-width: 250px;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.items li a .img {
  width: 100%;
  height: 150px;
  overflow:hidden;
  transform: scale(1);
}

.items li a .img img {
  transition: all .3s ease-in;
}

.items li:hover a .img img {
  transform: scale(1.1);
}


.items .best_desc {
 position: relative;
 top: 0;
 z-index: 100;
 width: 300px;
 height: 100%;
}

.items .best_desc:before {
  content: '';
}

.items .best_desc:after {
  position: absolute;
  z-index: -10;
  top: 0; 
  left: 0;
  content: '';
  width: 300px;
  height: inherit;
  background:url(../img/sales_obj01.png) no-repeat -351px -155px, 
  url(../img/sales_obj02.png) no-repeat -418px 64px, 
  url(../img/sales_obj03.png) no-repeat 279px 96px;
  transition: all .5s;
}

.items li:hover .best_desc:after {
	background-position: -125px -155px, -326px 64px, 128px 96px;
}

.items .best_desc span {
  width: 50px;
  height: 50px;
  background: rgb(255, 211, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10%;
  z-index:400;
  overflow: visible;
  font-weight: bold;  
}

.items .best_desc h3 {
  padding: 30px 0 20px;
  font-size: 16px;
}

.items .best_desc p{
  width: 200px;
}

.items li button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 60px;
  bottom: 0;
  background-color:transparent;
  font-size: 16px;
  cursor: pointer;
  z-index: 200;
}

.items li button:after {
  content: '';
  position: absolute;
  top: 0;
  left: -200%;
  width: 300px;
  height: 1px;
  background: gray;
}

.items li button .fas{
  margin-left: 5px;
  font-size: 16px;
  transition: all .5s;
}

.items li:hover button .fas {
  padding-left: 5px;
  color: rgb(24, 24, 24);
}

.items li:hover button{
  color: rgb(24, 24, 24); 
}


/* new_item  */
#new p {
  text-align: center;
  margin: 10px 0 50px;
}

.new_items {
  display: flex;
  justify-content: space-between;
}

#new ul:last-child {
  margin-top: 50px;
}

.new_items li {
  width: 130px;
  height: auto;
}

.new_items li a > .img {
  width: 100%;
  height: 100px;
  position: relative;
  overflow:hidden;
  border: 1px solid rgba(228, 228, 228, 0.705);

}

.new_items li a > .img img {
  position: absolute;
  top: 0;
  left: 0;
}

.new_items .new_desc {
  margin-top: 20px;
}

.new_items .new_desc h4 {
  margin-bottom: 10px;
  color: #444;
}

.new_items .new_desc em {
  display: block;
  margin-bottom: 5px;
}

.new_items .new_desc span {
  color: #888;
}


/* magazine -------------------- */
.magazine_container {
  display: flex;
  align-items: center;
  padding: 50px 0;
}
 
.magazine_container .left {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 500px;
}

.magazine_container .left .left_left {
  height: 50%;
  background: url('../img/magazine1.jpg') no-repeat center center;
  background-position: cover;
}

.magazine_container .left .left_right {
  height: 50%;
  background: url('../img/magazine2.jpg') no-repeat center center;
  background-position: cover;
}

.magazine_container .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 500px;
  background: url('../img/magazine3.jpg') no-repeat center center;
  background-position: cover;
}

.magazine_container .right .right_list {
  width: 400px;
  height: 300px;
  background: #fff;
  opacity: .5;
}

.magazine_container .right .right_list li a{
  font-size: 20px;
  color: blue;
  border-bottom: 3px solid green;
}





@media screen and (max-width:360px) {
 body {
   background: orange;
 }

 .magazine_container {
   display: unset;
 }

}
